
@{
    ViewBag.Title = "Header";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="~/Scripts/JS/Header.js"></script>
    <link href="~/Content/Header.css" rel="stylesheet">

</head>
<body>
    <div class="topnav" id="myTopnav">
        @if(Session["username"]!=null)

        {
        <div class="dropdown">
            <button class="dropbtn">
                @Session["username"]
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">My Account</a>
                <a href="#">Link 2</a>
                <a href="@Url.Action("Logout", "Register")">logout</a>
            </div>
        </div>
        }
        @if(Session["username"]==null)
        {
            <a href="@Url.Action("LogIn", "Register")">Login</a>
        }

        <a href="@Url.Action("Index", "Home")">Home</a>
        <a href="@Url.Action("Service", "Service")">Service</a>
        <a href="#contact">Contact</a>

        <a href="#about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>


</body>
</html>


