@model IEnumerable<MaidEasy.Models.worker>
@{
    ViewBag.Title = "WorkerList";
    Layout = null;
}
@{
     Html.RenderPartial("Header");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <title> Worker List</title>
    <link href="~/Content/Worker.css" rel="stylesheet" />

   
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

</head>


<body>
    <div style="margin-top: 80px;">

        <div style="text-align: center;">
            <a href="@Url.Action("Add_worker", "AdminWorker")"> <button type="button" class="collapsible">Add Worker</button> </a>
        </div>

        <div class="container-fluid"style="margin-top:120px;margin-bottom:120px;">
            <div class="table-responsive">


                <!--  <table class="display" style="width:100%" id="myTable">
    <thead>
        <tr>
            <th>Worker ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Area</th>
            <th>Type</th>
            <th>Status</th>
            <th>Experience</th>
            <th>Rating</th>

            <th> </th>
        </tr>
    </thead>


          @foreach (var item in Model)
          {
              <tbody>
                  <tr>
                      <td>@item.WorkerId</td>
                      <td>@item.Name</td>
                      <td>@item.gender</td>
                      <td>@item.Area</td>
                      <td>@item.type</td>
                      <td>@item.status</td>
                      <td>@item.experience</td>
                      <td>@item.rating</td>
                      <td class="middle">
                          <a href="@Url.Action("Edit_Worker", "AdminWorker", new { workerID =  item.WorkerId })">
                              <button type="submit" class="btn btn-outline-dark">View Profile</button>
                          </a>

                      </td>
                  </tr>
              </tbody>
          }

          </table> -->
                <table id="myTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Worker ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Area</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Experience</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.WorkerId</td>
                            <td>@item.Name</td>
                            <td>@item.gender</td>
                            <td>@item.Area</td>
                            <td>@item.type</td>
                            <td>@item.status</td>
                            <td>@item.experience</td>
                            <td>@item.rating</td>
                            <td class="middle">
                                <a href="@Url.Action("Edit_Worker", "AdminWorker", new { workerID =  item.WorkerId })">
                                    <button type="submit" class="btn btn-outline-dark">View Profile</button>
                                </a>

                            </td>
                        </tr>
                        }


                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>

            </div>
        </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>src = "https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"</script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/r-2.2.5/datatables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

    <script src="~/Scripts/JS/Worker.js"></script>
</body>
    </html>

