@model IEnumerable<MaidEasy.Models.work>
@{
    ViewBag.Title = "Worklist";
    Layout = null;
}
@{
    Html.RenderPartial("Header");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> Work List</title>
    <link href="~/Content/worklist.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/r-2.2.5/datatables.min.css" />

</head>
<body>




    <div class="container" style="margin-top:169px;margin-bottom:100px;">
        <section style="text-align:center;">
            <button type="button" class="collapsible">
                <img style="height:6rem;padding-left: 6px;" src="~/Content/Images/plus-circle-solid.svg" />
                <br />
                Add Work
            </button>

            <div class="submit-area content" data-aos="zoom-out">
                <form action="@Url.Action("WorklistCreate","AdminWork")" method="post">
                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input name="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" required>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Unit Price</label>
                        <input name="UnitPrice" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter unit price" required>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </section>


        <h2 style="text-align:center;margin-top:100px;"> List of Works </h2>
        <br /> <br />
        <div class="table-responsive">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Work ID</th>
                        <th>Work Name</th>
                        <th>Unit Price</th>
                        <th>  </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {




                        <tr>
                            <td>@item.WorkId</td>
                            <td>@item.Name</td>
                            <td>@item.UnitPrice</td>

                            <td class="middle">


                                <div class="btn-group">
                                    <button class="btn btn-secondary  btn-sm  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="dropdown-item" data-toggle="modal" data-target="#_@item.WorkId"  >


                                            <button type="button" class="btn btn-primary">Edit</button>



                                        </div>


                                        <div class="dropdown-item">
                                        
                                            <form action="@Url.Action("WorklistDelete","AdminWork",new {id=item.WorkId})" method="post">
                                                @Html.AntiForgeryToken()



                                                <button type="submit" class="btn btn-primary">Delete</button>
                                            </form>
                                        </div>





                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="_@item.WorkId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <form action="@Url.Action("WorklistEdit","AdminWork",new {id=item.WorkId})" method="post">
                                                    @Html.AntiForgeryToken()

                                                    <input value="@item.WorkId" name="WorkId" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Name</label>
                                                        <input value="@item.Name" name="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" required>

                                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Unit Price</label>
                                                        <input value="@item.UnitPrice" name="UnitPrice" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter unit price" required>

                                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>

                    }

                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>



    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/r-2.2.5/datatables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    <script>
    var isDeleted = "@Session["ADMIN_WORKLIST_DELETE"]";
    if (isDeleted != null && isDeleted!="")
    {
        alert("DATA is deleted");
        @{
@*            @Session["ADMIN_THANA_DELETE"]= null;
*@
        Session["ADMIN_WORKLIST_DELETE"] = null;
        }


    }

    </script>
    <script src="~/Scripts/JS/collpasible.js"></script>

</body>

</html>