
@{
    ViewBag.Title = "hired_workers_profile";
      Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="~/Content/hired_workers_profile.css" rel="stylesheet"/>

    <title>Hired Workers Profile</title>

</head>

@{
    Html.RenderPartial("Header");
}

<body>



    <div class="head-box">

        <div class="profile">
            <header>
                <h1>Hired Workers Profile</h1>

            </header>

        </div>

    </div>

    <div style="text-align:center;">

        <!--   <div class="current-box"> -->
        <!-- <form action="/User/feedback" method="post"> -->
        <button type="button" class="collapsible">Current Workers</button>
        <div class="content">

            @{
                string[,] data1 = (string[,])ViewData["data1"];
            }
            @for (int i = 0; i < Convert.ToInt32(ViewData["cnt1"]); i++)
            {
                string work = data1[i, 6];
                String[] spearator = { "\n" };
                String[] strlist = work.Split(spearator, StringSplitOptions.RemoveEmptyEntries);
                int Wcnt = strlist.Length;
                string imgsrc = "/Content/Workers/";
                imgsrc = imgsrc + data1[i, 8];

                <div class="card-box">



                    <div class="upper-box">
                        <!--   <div class="time"><h2>Current Worker</h2></div>-->
                        <div class="image-box">
                            <img src="@imgsrc" />
                        </div>
                    </div>





                    <div class="lower-box">


                        <!-- <div class="row">
                    <div class="column1"><h3>Name</h3></div>

                       <div class="column2"><h3>Ms. XYZ</h3></div>

                       </div>

                              <div class="row">

                    <div class="column1"><h3>Work Type</h3></div>

                            <div class="column2"><h3>Temporary</h3></div>

                                  </div> -->
                        <div id="user-data">
                            <h3 class="category">Name:<span class="user-input">@data1[i, 0]</span></h3>
                            <h3 class="category">Start Month:<span class="user-input">@data1[i, 1]</span></h3>
                            <h3 class="category">End Month:<span class="user-input">@data1[i, 2]</span></h3>
                            <h3 class="category">Start Time:<span class="user-input">@data1[i, 3]</span></h3>
                            <h3 class="category">End Time:<span class="user-input">@data1[i, 4]</span></h3>
                            <h3 class="category">Amount:<span class="user-input">@data1[i, 5] BDT</span></h3>
                            <h3 class="category">
                                Work-list:<span class="user-input" style="display:inline-block;">
                                    <ul style="padding-left:0px;">

                                        @for (int j = 0; j < Wcnt - 1; j++)
                                        {
                                            <li>@strlist[j]</li>
                                        }
                                    </ul>
                                </span>
                            </h3>

                        </div>
                    </div>


                    <!--        <div style="text-align:center;">

                <button type="button" id="hw_button">Give Feedback</button>

                </div> -->
                    <form action="/User/feedback" method="post">
                        <button type="submit" class="btn buttonprimary" name="maid" value="@data1[i, 7]">Give Feedback</button>
                    </form>
                    <br>
                    <form action="/Maid/MaidProfile" method="post">
                        <button type="submit" class="btn buttonprimary" name="maid" value="@data1[i, 7]">View Profile</button>
                    </form>
                </div>
                <br />
            }
        </div>

        <!-- </form> -->
        <br>
        <!-- 	</div>  -->
        <!--<div class="previous-box"> -->

        <form action="/User/feedback" method="post">
            <button type="button" class="collapsible">Previous Workers</button>
            <div class="content">
                @{
                    string[,] data2 = (string[,])ViewData["data2"];
                }
                @for (int i = 0; i < Convert.ToInt32(ViewData["cnt2"]); i++)
                {
                    string work = data2[i, 6];
                    String[] spearator = { "\n" };
                    String[] strlist = work.Split(spearator, StringSplitOptions.RemoveEmptyEntries);
                    int Wcnt = strlist.Length;
                    string imgsrc = "/Content/Workers/";
                    imgsrc = imgsrc + data2[i, 8];
                    <div class="card-box extra">



                        <div class="upper-box">
                            <!-- <div class="time"><h2>Previous Worker</h2></div> -->
                            <div class="image-box">
                                <img src="@imgsrc" />
                            </div>
                        </div>



                        <div class="lower-box">


                            <div id="user-data">
                                <h3 class="category">Experience:<span class="user-input">3 Year</span></h3>
                                <h3 class="category">Maid type:<span class="user-input">Temporary</span></h3>

                                <h3 class="category">Month:<span class="user-input">Temporary</span></h3>
                                <h3 class="category">Start Month:<span class="user-input">Temporary</span></h3>
                                <h3 class="category">Hour:<span class="user-input">Temporary</span></h3>
                                <h3 class="category">Amount:<span class="user-input">Temporary</span></h3>
                                <h3 class="category">
                                    Work-list:<span class="user-input" style="display:inline-block;">
                                        <ul style="padding-left:0px;">
                                            @for (int j = 0; j < Wcnt - 1; j++)
                                            {
                                                <li>@strlist[j]</li>
                                            }

                                        </ul>
                                    </span>
                                </h3>


                            </div>

                        </div>



                        <button type="submit" class="btn buttonprimary" name="maid" value="@data2[i, 7]">Give Feedback</button>
                        <button type="button" class="btn buttonprimary">View Profile</button>


                    </div>
                    <br />
                }
            </div>
        </form>
    </div>

        <!-- 	</div>  -->

        <script src="~/Scripts/JS/collpasible.js"></script>

</body>
@{
    Html.RenderPartial("footer");
}
</html>
