@model MaidEasy.Models.user
@{
    ViewBag.Title = "user_profile";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/Content/user_profile.css" rel="stylesheet" />

    <title>User Profile</title>

</head>
@{
    Html.RenderPartial("Header");
}

<body>







    <div class="card-box">



        <div class="upper-box">
            <div class="image-box">
                @{
                    System.Diagnostics.Debug.WriteLine("-------- Model Image ------------");
                    System.Diagnostics.Debug.WriteLine(Model.image);
                    System.Diagnostics.Debug.WriteLine("--------------------");

                    string source = "/Content/Users/";
                    source = source + Model.image.ToString();
                    //source = source + ViewData["image"].ToString();

                }
                <!--  <img src="~/Content/Images/profile.jpg" /> -->
                <!-- <img src="~/Content/Users/Ami.PNG" /> -->
                <img src="@source" id="myImage" name="myImage" />

            </div>
        </div>



        <div class="lower-box">


            <div id="user-data">
                <h4 class="category">User Name:<span class="user-input">@Model.username</span></h4>
                <h4 class="category">Name:<span class="user-input">@Model.Name</span></h4>
                <h4 class="category">Mobile:<span class="user-input">@Model.mobile</span></h4>
                <h4 class="category">Present Address:<span class="user-input">@Model.PresentAddress</span></h4>
                <h4 class="category">Permanent Address:<span class="user-input">@Model.PermanentAddress</span></h4>

                <h4 class="category">Thana:<span class="user-input">@ViewData["thana"]</span></h4>

            </div>


        </div>





        <br>

        <div class="d-flex justify-content-around" style="padding-top:40px;">

            @if (ViewData["me"].ToString() == "Yes")
            {
                if (Session["uType"].ToString() == "general")
                {
                    <a href="@Url.Action("hired_workers_profile", "User")"> <button type="button" class="hw_button1">Hired Workers</button> </a>
                }

                <a href="@Url.Action("Edit_profile", "User")"> <button type="button" class="hw_button1">Edit Profile</button> </a>
            }

        </div>


    </div>

</body>
@{
    Html.RenderPartial("footer");
}
</html>

