
@{
    ViewBag.Title = "user_profile";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/Content/user_profile.css" rel="stylesheet" />

    <title>User Profile</title>

</head>
@{
    Html.RenderPartial("Header");
}

<body>







    <div class="card-box">



        <div class="upper-box">
            <div class="image-box">
                @{
                    string source = "/Content/Users/";
                    source = source + ViewData["image"].ToString();

                }
                <!--  <img src="~/Content/Images/profile.jpg" /> -->
                <!-- <img src="~/Content/Users/Ami.PNG" /> -->
                <img src="@source" id="myImage" name="myImage" />

            </div>
        </div>



        <div class="lower-box">


            <div id="user-data">
                <h4 class="category">User Name:<span class="user-input">@Session["username"]</span></h4>
                <h4 class="category">Name:<span class="user-input">@ViewData["Name"]</span></h4>
                <h4 class="category">Mobile:<span class="user-input">@ViewData["mobile"]</span></h4>
                <h4 class="category">Present Address:<span class="user-input">@ViewData["PresentAddress"]</span></h4>
                <h4 class="category">Permanent Address:<span class="user-input">@ViewData["PermanentAddress"]</span></h4>

                <h4 class="category">Thana:<span class="user-input">@ViewData["thana"]</span></h4>

            </div>


        </div>




        @if (Session["uType"].ToString() == "general")
        { 
            <a href="@Url.Action("hired_workers_profile", "User")"> <button type="button" class="hw_button">Hired Workers</button> </a> 
        }

        <br>

        <div style="text-align:center;padding-top:40px;">
            <a href="@Url.Action("Edit_profile", "User")"> <button type="button" class="hw_button1">Edit Profile</button> </a>

        </div>


    </div>

</body>
@{
    Html.RenderPartial("footer");
}
</html>

