@model MaidEasy.Models.ServiceModel
@{
    ViewBag.Title = "Service";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--  <script src="~/Scripts/JS/tabscript.js" defer></script>-->

    <link href="~/Content/service.css" rel="stylesheet">
    <link href="~/Content/profilecard.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <title>Services</title>

</head>
@{
    Html.RenderPartial("Header");
}

<body>
    <div class="box">
        <div class="container">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active textcolor" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Temporary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textcolor" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Permanent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textcolor" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Baby Care</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textcolor" id="elderly-tab" data-toggle="tab" href="#elderly" role="tab" aria-controls="elderly" aria-selected="false">Elderly Care</a>
                </li>
            </ul>
        </div>
        <!-- <ul class="tabs" id="myTab">
            <li class="active"><a href="#temporary">Temporary</a></li>
            <li><a href="#permanent">Permanent</a></li>
            <li><a href="#babycare">Baby care</a></li>
            <li><a href="#elderlycare">Elderly care</a></li>
        </ul> -->
        <!-- <div class="tab-content">
            <div class="tab-pane active" id="home">home</div>
            <div class="tab-pane" id="profile">profile</div>
            <div class="tab-pane" id="messages">messages</div>
            <div class="tab-pane" id="settings">settings</div>
        </div>-->





        <div class="tab-content" id="myTabContent">


            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <br>
                <form action="/Service/Searching" method="get">
                    <input type="hidden" name="type" value="temporary" />
                    <div class="container" style="padding-top: 60px;">
                        <div class="d-flex justify-content-center row">

                            <div class="card text-center leftradius">
                                <!-- <div class="card-header">
                                     Sort By
                                 </div> -->
                                <div class="card-body pdn">
                                    <h6 class="fcolor">Sort By</h6>
                                    <div class="experiencebox" style="width:120px;">
                                        <select class="input-lg form-control" id="paperSelect" name="sortby" required>
                                            <option value="Name" id="sortbyname">Name</option>
                                            <option value="experience" id="sortbyexperience">Experience</option>
                                            <option value="rating" id="sortbyrating">Rating</option>


                                        </select>

                                        <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">

                                    </div>
                                </div>
                            </div>


                            <!--    <div class="row">
                            <div class="col-md-2"> -->

                            <div class="card text-center">
                                <!-- <div class="card-header">
                                    Starting Time
                                </div> -->
                                <div class="card-body pdn">
                                    <h6 class="fcolor"> Starting Time</h6>
                                    <div class="experiencebox">

                                        <select name="startTime" id="main_menu" class="input-lg form-control" required>

                                            <option value=""> </option>
                                            <option value="6">6:00 AM</option>
                                            <option value="6:30">6:30 AM</option>
                                            <option value="7">7:00 AM</option>
                                            <option value="7:30">7:30 AM</option>
                                            <option value="8">8:00 AM</option>
                                            <option value="8:30">8:30 AM</option>
                                            <option value="9">9:00 AM</option>
                                            <option value="9:30">9:30 AM</option>
                                            <option value="10">10:00 AM</option>
                                            <option value="10:30">10:30 AM</option>
                                            <option value="11">11:00 AM</option>
                                            <option value="11:30">11:30 AM</option>
                                            <option value="12">12:00 PM</option>
                                            <option value="12:30">12:30 PM</option>
                                            <option value="1">1:00 PM</option>
                                            <option value="1:30">1:30  PM</option>
                                            <option value="2">2:00  PM</option>
                                            <option value="2:30">2:30  PM</option>
                                            <option value="3">3:00  PM</option>
                                            <option value="3:30">3:30  PM</option>
                                            <option value="4">4:00  PM</option>
                                            <option value="4:30">4:30  PM</option>
                                            <option value="5">5:00  PM</option>
                                        </select>
                                        <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                            <!--  <div class="col-md-2" style="padding-left: 55px;">

                                <h5>Time</h5>

                                <div class="experiencebox" style="position: relative;">
                                    <select name="car" id="main_menu" class="input-lg form-control">

                                        <option value="am">a.m.</option>
                                        <option value="pm">p.m.</option>

                                    </select>
                                    <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">
                                </div>
                            </div>  -->
                            <!--  </div> -->
                            <div class="card text-center" style="border:none;border-right: none!important;">


                                <!--   <div class="card-header">
                                    Ending Time
                                </div> -->
                                <div class="card-body pdn">
                                    <h6 class="fcolor">End time</h6>
                                    <div class="experiencebox">
                                        <select name="endTime" id="sub_menu" class="input-lg form-control">
                                        </select>
                                        <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">
                                    </div>
                                </div>
                                <!--  </div> -->
                                <!-- <div class="col-md-2" style="padding-left:55px;">
                                    <h5>Time</h5>
                                    <div class="experiencebox" style="position: relative;">
                                        <select name="car" id="main_menu" class="input-lg form-control">

                                            <option value="am">a.m.</option>
                                            <option value="pm">p.m.</option>
                                        </select>
                                        <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">
                                    </div>
                                </div> -->
                                <!-- </div> -->



                            </div>
                            <div class="card rightradius" style="border:none!important;min-width:8.24rem;">
                                <div class="card-body pdn" style="text-align:center;">
                                    <button style="background-color:#6ab2ff;    border: none;margin-top: 20px;
    border-radius: 50%;width: 3rem;
    height: 3rem;" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container d-flex justify-content-center" style="padding-top:5%;">

                            <!-- <button type="button" class="btn btn-outline-light btn-lg" onclick="location.href='@Url.Action("Searching", "Service")'">Search</button>  -->


                        </div>
                    </div>


                </form>
                <!-- <form action="/Service/ViewProfile" method="get"> -->
                <form action="/Maid/MaidProfile" method="post">
                    <div class="searchresults">

                        <div class="d-flex flex-wrap justify-content-around">

                            @{
                                string[,] WData = (string[,])Session["WData"];
                            }
                            @for (int i = 0; i < Convert.ToInt32(Session["Wcnt_row"]); i++)
                            {
                                string imgsrc = "/Content/Workers/";
                                imgsrc = imgsrc + WData[i, 4];

                                <div class="card-box">

                                    <div class="upper-box">
                                        <div class="image-box">
                                            <!-- <img src="~/Content/Images/profile.jpg" />  -->
                                            <img id="WImage" src="@imgsrc">
                                        </div>
                                    </div>

                                    <div class="lower-box">

                                        <h3 class="mt-2 mb-3">@WData[i, 1]</h3>
                                        <div class="d-flex justify-content-center mb-3">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star notchecked"></span>
                                            <span class="fa fa-star notchecked"></span>

                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-6 col-md-6 text-right">
                                                <h4 class="category">Rating:</h4>
                                            </div>
                                            <div class="col-6 col-md-6 text-left">
                                                <h4 class="category"> @WData[i, 2] / 5.00 </h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 col-md-6 text-right">
                                                <h4 class="category">Experience: </h4>
                                            </div>
                                            <div class="col-6 col-md-6 text-left">
                                                <h4 class="category"> @WData[i, 3] months </h4>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="@Url.Action("MaidProfile", "Maid", new { id =  WData[i,0] })" class="btn" name="link" value="@WData[i, 0]">View profile</a>
                                            <!-- <button type="submit" class="btn btn-outline-light btn-lg" name="maid" value="@WData[i, 0]">View profile</button> -->
                                        </div>
                                    </div>

                                </div>



                                <br />


                            }

                        </div>
                    </div>
                </form>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form action="/Service/SearchingFull" method="get">
                    <input type="hidden" name="type" value="permanent" />
                    <div class="container" style="padding-top: 60px;">
                        <div class="d-flex justify-content-center">
                            <div class="experiencebox" style="width:120px;">
                                <select class="input-lg form-control" id="paperSelect_1" name="sortby" required>
                                    <option value="Name" id="sortbyname">Name</option>
                                    <option value="experience" id="sortbyexperience">Experience</option>
                                    <option value="rating" id="sortbyrating">Rating</option>


                                </select>

                                <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">

                            </div>


                            <button class="ml-2" style="background-color:#6ab2ff;border: none;margin-top:7px;border-radius: 50%;width: 2rem;height: 2rem;" type="submit">
                                <i class="fas fa-search"></i>
                            </button>









                            <!-- <button type="button" class="btn btn-outline-light btn-lg" onclick="location.href='@Url.Action("Searching", "Service")'">Search</button> -->
                            <!--    <div class="">
                            <button type="submit" class="btn btn-outline-light btn-lg">Search</button>
                            </div> -->
                        </div>
                    </div>
                    <!--    <div class="card-box">

                        <div class="upper-box">
                            <div class="image-box">
                                <img src="~/Content/Images/profile.jpg" />
                            </div>
                        </div>

                        <div class="lower-box">
                            <div>
                                <h3>Alaina Wick</h3>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>

                            </div>
                            <div>
                                <h4 class="category">Favorite Country: <span class="user-input">Thailand</span></h4>
                            </div>
                            <div>
                                <a href="#" class="btn">View profile</a>
                            </div>
                        </div>

                    </div>  -->
                </form>
                <!-- <form action="/Service/ViewProfile" method="get"> -->
                <form action="/Maid/MaidProfile" method="get">

                    <div class="searchresults">
                        <div class="d-flex flex-wrap justify-content-around">
                            @{
                                string[,] PData = (string[,])Session["PworkerData"];
                            }
                            @for (int i = 0; i < Convert.ToInt32(Session["Pcnt_row"]); i++)
                            {
                                //string imgsrc = Convert.ToBase64String(@Pphoto[i]);
                                //System.Diagnostics.Debug.WriteLine(imgsrc);
                                //System.Diagnostics.Debug.WriteLine("-----------------------      GHURTESI     ------------------------");
                                string imgsrc = "/Content/Workers/";
                                imgsrc = imgsrc + PData[i, 4];


                                <div class="card-box">

                                    <div class="upper-box">
                                        <div class="image-box">
                                            <!-- <img src="~/Content/Images/profile.jpg" />  -->
                                            <img id="WImage" src="@imgsrc">
                                        </div>
                                    </div>

                                    <div class="lower-box">
                                        <div>
                                            <h3>@PData[i, 1]</h3>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>

                                        </div>
                                        <div>
                                            <h4 class="category">Rating: <span class="user-input"> @PData[i, 2] / 5.00 </span></h4>
                                        </div>
                                        <div>
                                            <h4 class="category">Experience: <span class="user-input"> @PData[i, 3] months </span></h4>
                                        </div>
                                        <div>






                                            <a href="@Url.Action("MaidProfile", "Maid", new { id =  PData[i,0] })" class="btn" name="link" value="@PData[i, 0]">View profile</a>
                                            <!-- <a href="@Url.Action("ViewProfile", "Service")" class="btn" name="link" value="@PData[i, 0]">View profile</a>  -->
                                            <!-- <button type="submit" class="btn btn-outline-light btn-lg" name="maid" value="@PData[i, 0]">View profile</button> -->
                                        </div>
                                    </div>

                                </div>



                                <br />


                            }
                        </div>
                    </div>
                </form>

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <form action="/Service/SearchingFull" method="get">
                    <input type="hidden" name="type" value="babycare" />
                    <div class="container" style="padding-top: 60px;">
                        <div class="d-flex justify-content-center">
                            <div class="experiencebox" style="width:120px;">
                                <select class="input-lg form-control" id="paperSelect_2" name="sortby" required>
                                    <option value="Name" id="sortbyname">Name</option>
                                    <option value="experience" id="sortbyexperience">Experience</option>
                                    <option value="rating" id="sortbyrating">Rating</option>


                                </select>

                                <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">

                            </div>


                            <button class="ml-2" style="background-color:#6ab2ff;    border: none;margin-top:7px;
    border-radius: 50%;width: 2rem;
    height: 2rem;" type="submit">
                                <i class="fas fa-search"></i>
                            </button>





                            <!-- <button type="button" class="btn btn-outline-light btn-lg" onclick="location.href='@Url.Action("Searching", "Service")'">Search</button> -->
                            <!--    <div class="">
                                <button type="submit" class="btn btn-outline-light btn-lg">Search</button>
                            </div> -->
                        </div>
                    </div>
                    <!--     <div class="card-box">

                        <div class="upper-box">
                            <div class="image-box">
                                <img src="~/Content/Images/profile.jpg" />
                            </div>
                        </div>

                        <div class="lower-box">
                            <div>
                                <h3>Alaina Wick</h3>
                                <h4>3 year experience</h4>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>

                            </div>
                            <div>
                                <p>sodales accumsan ligula. Aenean sed diam tristique, fermentum mi nec, ornare arcu.</p>
                            </div>
                            <div>
                                <a href="#" class="btn">View profile</a>
                            </div>
                        </div>

                    </div>  -->
                </form>
                <!-- <form action="/Service/ViewProfile" method="get"> -->
                <form action="/Maid/MaidProfile" method="get">
                    <div class="searchresults">
                        <div class="d-flex flex-wrap justify-content-around">
                            @{
                                string[,] BData = (string[,])Session["BworkerData"];
                                //byte[][] Bphoto = (byte[][])Session["BworkerPhoto"];
                            }
                            @for (int i = 0; i < Convert.ToInt32(Session["Bcnt_row"]); i++)
                            {
                                //string imgsrc = Convert.ToBase64String(@Wphoto[i]);
                                //System.Diagnostics.Debug.WriteLine(imgsrc);
                                //System.Diagnostics.Debug.WriteLine("-----------------------------------------------");
                                string imgsrc = "/Content/Workers/";
                                imgsrc = imgsrc + BData[i, 4];

                                <div class="card-box">

                                    <div class="upper-box">
                                        <div class="image-box">
                                            <!-- <img src="~/Content/Images/profile.jpg" />  -->
                                            <img id="WImage" src="@imgsrc">
                                        </div>
                                    </div>

                                    <div class="lower-box">
                                        <div>
                                            <h3>@BData[i, 1]</h3>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>

                                        </div>
                                        <div>
                                            <h4 class="category">Rating: <span class="user-input"> @BData[i, 2] / 5.00 </span></h4>
                                        </div>
                                        <div>
                                            <h4 class="category">Experience: <span class="user-input">3] months </span></h4>
                                        </div>
                                        <div>

                                            <a href="@Url.Action("MaidProfile", "Maid", new { id =  BData[i,0] })" class="btn" name="link" value="@BData[i, 0]">View profile</a>
                                            <!-- <a href="@Url.Action("ViewProfile", "Service")" class="btn" name="link" value="@BData[i, 0]">View profile</a>  -->
                                            <!-- <button type="submit" class="btn btn-outline-light btn-lg" name="maid" value="@BData[i, 0]">View profile</button> -->
                                        </div>
                                    </div>

                                </div>



                                <br />


                            }
                        </div>
                    </div>
                </form>

            </div>

            <div class="tab-pane fade" id="elderly" role="tabpanel" aria-labelledby="elderly-tab">
                <form action="/Service/SearchingFull" method="get">
                    <input type="hidden" name="type" value="elderlycare" />
                    <div class="container" style="padding-top: 60px;">
                        <div class="d-flex justify-content-center">
                            <div class="experiencebox" style="width:120px;">
                                <select class="input-lg form-control" id="paperSelect_3" name="sortby" required>
                                    <option value="Name" id="sortbyname">Name</option>
                                    <option value="experience" id="sortbyexperience">Experience</option>
                                    <option value="rating" id="sortbyrating">Rating</option>


                                </select>

                                <img src="https://creation.bitechx.com/images/creation/down.svg" style="width:10px;margin-left:-25px;">

                            </div>











                            <!-- <button type="button" class="btn btn-outline-light btn-lg" onclick="location.href='@Url.Action("Searching", "Service")'">Search</button> -->
                            <!--   <div class="">
                                   <button type="submit" class="btn btn-outline-light btn-lg">Search</button>
                               </div> -->


                            <button class="ml-2" style="background-color:#6ab2ff;    border: none;margin-top:7px;
    border-radius: 50%;width: 2rem;
    height: 2rem;" type="submit">
                                <i class="fas fa-search"></i>
                            </button>

                        </div>
                    </div>
                </form>
                <!-- <form action="/Service/ViewProfile" method="get"> -->
                <form action="/Maid/MaidProfile" method="get">
                    <div class="searchresults">
                        <div class="d-flex flex-wrap justify-content-around">

                            @{
                                string[,] EData = (string[,])Session["EworkerData"];
                            }
                            @for (int i = 0; i < Convert.ToInt32(Session["Ecnt_row"]); i++)
                            {
                                //string imgsrc = Convert.ToBase64String(@Wphoto[i]);
                                //System.Diagnostics.Debug.WriteLine(imgsrc);
                                //System.Diagnostics.Debug.WriteLine("-----------------------------------------------");
                                string imgsrc = "/Content/Workers/";
                                imgsrc = imgsrc + EData[i, 4];

                                <div class="card-box">

                                    <div class="upper-box">
                                        <div class="image-box">
                                            <!-- <img src="~/Content/Images/profile.jpg" />  -->
                                            <img id="WImage" src="@imgsrc">
                                        </div>
                                    </div>

                                    <div class="lower-box">
                                        <div>
                                            <h3>@EData[i, 1]</h3>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>

                                        </div>
                                        <div>
                                            <h4 class="category">Rating: <span class="user-input"> @EData[i, 2] / 5.00 </span></h4>
                                        </div>
                                        <div>
                                            <h4 class="category">Experience: <span class="user-input">3] months </span></h4>
                                        </div>
                                        <div>

                                            <a href="@Url.Action("MaidProfile", "Maid", new { id =  EData[i,0] })" class="btn" name="link" value="@EData[i, 0]">View profile</a>
                                            <!-- <a href="@Url.Action("ViewProfile", "Service")" class="btn" name="link" value="@EData[i, 0]">View profile</a>  -->
                                            <!-- <button type="submit" class="btn btn-outline-light btn-lg" name="maid" value="@EData[i, 0]">View profile</button> -->
                                        </div>
                                    </div>

                                </div>



                                <br />


                            }
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script src="~/Scripts/JS/timerscript.js"></script>
    <script src="~/Scripts/JS/tabscript.js"></script>

    <script>

        $(document).ready(function () {
            $('#main_menu').val("@Session["startTime"]")
            console.log("here");
            {
                if ("@Session["startTime"]" != null) {
                    var sub = document.getElementById('sub_menu');
                    var selected_option = time["@Session["startTime"]"];
                    console.log(selected_option);
                    while (sub.options.length > 0) {
                         sub.options.remove(0);
                    }
                    Array.from(selected_option).forEach(function (el) {
                        let val = el.substring(0, el.length - 3 )
                        let option = new Option(el, val);
                        sub.appendChild(option);
                    });
                    $('#sub_menu').val("@Session["endTime"]")
                }
            }


            $('#paperSelect').val("@Session["sortby"]");
            $('#paperSelect_1').val("@Session["Psortby"]");
            $('#paperSelect_2').val("@Session["Bsortby"]");
            $('#paperSelect_3').val("@Session["Esortby"]");
        });

        $(document).ready(function(){
           $('#sub_menu').val("@Session["endTime"]");
        });


        /*$('#myTab a').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
          var id = $(e.target).attr("href").substr(1);
          window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');  */
    </script>


    @{
        Html.RenderPartial("footer");
    }
</body>
</html>

