
@{
    ViewBag.Title = "Hire";
     Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/hire.css" rel="stylesheet">
    <link href="~/Content/selectbox.css" rel="stylesheet">

    <title>Hire</title>


</head>
@{
    Html.RenderPartial("Header");
}


<body>



    <!--  <div class="head-box">

        <div class="hire">
            <header>
                <h2>Select the services you want</h2>
            </header>
            <span> <br> Select one or multiple at the basis of your needs. </span> <hr>

        </div>


    </div>   -->
    <!--     <div class="parallax"> -->
    <div class="area">
        <form action="/Maid/Booking" method="get">

            <div class="card-box">
                <div class="upper-box">
                    <h1>
                        Select the services you want
                    </h1>
                </div>
                <div class="choices">
                    @{
                        string[,] WData = (string[,])ViewData["workList"];
                    }
                    @for (int i = 0; i < Convert.ToInt32(Session["work_row"]); i++)
                    {
                        <label class="container">
                            @WData[i, 0]
                            @{
                                var dynamicId = "check_" + i;
                                var dId = "box_" + i;
                            }

                            <input type="checkbox" id="@dynamicId" onclick="myFunction('@dId' ,'@dynamicId' , '@WData[i , 0]', @Session["SearchTimeForWorker"], @WData[i , 1] )">
                            <input type="hidden" id="@dId" name="@dId" />
                            <span class="checkmark"></span>
                        </label>

                        System.Diagnostics.Debug.WriteLine("--------------------------------");
                        System.Diagnostics.Debug.WriteLine(@Int32.Parse(WData[i, 1]));
                        System.Diagnostics.Debug.WriteLine("--------------------------------");


                    }

                    <!--<label class="container">
                Washing Clothes
                <input type="checkbox" id="myCheck1" onclick="myFunction1(@Session["SearchTimeForWorker"])">
                <input type="hidden" id="check2" name="check2" />
                <span class="checkmark"></span>
            </label>

            <label class="container">
                Home Cleaning
                <input type="checkbox" id="myCheck2" onclick="myFunction2(@Session["SearchTimeForWorker"])">
                <input type="hidden" id="check3" name="check3" />
                <span class="checkmark"></span>
            </label>    -->

                </div>



                <!-- <div class="Salary">

            <div class="salary_tag"><strong>Salary</strong></div>
            <div class="salary_amount"><strong>BDT </strong><strong id=salary></strong></div>

        </div>-->









            </div>
            <!--     </div>  -->

            <div class="card-box1">
                <div class="upper-box">
                    <h1 style="padding-top: 25px;">
                        Select the length of your contract
                    </h1>
                </div>
                <div class="choices1">
                    <div class="custom-select" style="width:200px;">
                        <select name="con_length">
                            <option value="0">Months</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>


                </div>
            </div>
            <div class="card-box2">
                <div class="upper-box">
                    <h1 style="padding-top: 25px;">
                        Salary (BDT)
                    </h1>
                </div>
                <div class="Salary">
                    <div class="salary_amount"><strong id=salary></strong></div>
                    <input type="hidden" id="sal" name="salary" />
                </div>
            </div>
            <!-- <input type="hidden" id="checked_value" name="checked_value" /> -->

            <button type="submit" class="btn btn-primary">Hire</button>

        </form>


    </div>




    <!--     </div>  -->



    <script src="~/Scripts/JS/hire.js"></script>
    <script src="~/Scripts/JS/selectbox.js"></script>

</body>
@{
    Html.RenderPartial("footer");
}
</html>
