
@{
    ViewBag.Title = "Hire_new";
    Layout = null;
}

@{
    Html.RenderPartial("Header");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="~/Content/hirenew.css">

</head>

<body>
    <div class=" spaces">

        <div class="container " style=" padding: 100px 0px;"data-aos="zoom-out">
            <div class="card" style="max-width:35rem;margin:auto;">
                <div class="card-body">
                    <form action="/Maid/Booking" method="get">
                        <!--    <div class="form-group">
                            <label class="fontsize" for="exampleFormControlInput1"> Select Services</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="myCheck" onclick="myFunction()">
                                <label class="form-check-label" for="defaultCheck1">
                                    cooking
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="myCheck1" onclick="myFunction1()">
                                <label class="form-check-label" for="defaultCheck2">
                                    washing Clothes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="myCheck2" onclick="myFunction2()">
                                <label class="form-check-label" for="defaultCheck2">
                                    Cleaning
                                </label>
                            </div>

                        </div> -->

                        @{
                            string[] data = (string[])Session["CurWorker"];
                            string s = data[1];
                            if (s[0].Equals('1'))
                            {


                                <div class="form-group">
                                    <label class="fontsize"> Select Services </label>
                                    <div class="choices">
                                        @{
                                            string[,] WData = (string[,])ViewData["workList"];
                                        }
                                        @for (int i = 3; i < Convert.ToInt32(Session["work_row"]); i++)
                                        {
                                            <label class="contain">
                                                @WData[i, 0]
                                                <br />
                                                <label>@WData[i, 1] (Unit price)</label>
                                                @{
                                                    var dynamicId = "check_" + i;
                                                    var dId = "box_" + i;
                                                }

                                                <input type="checkbox" id="@dynamicId" onclick="myFunction('@dId' ,'@dynamicId' , '@WData[i, 0]', @Session["SearchTimeForWorker"], @WData[i, 1] )">
                                                <input type="hidden" id="@dId" name="@dId" />

                                                <span class="checkmark"></span>
                                            </label>
                                        }


                                        <div class="invalid-feedback" id="invalid-message">
                                            Please select an option
                                        </div>
                                    </div>
                                    <div class="invalid-feedback" id="invalid-message">
                                        Please select an option
                                    </div>
                                </div>
                            }
                        }




                        <div class="form-group">
                            <label class="fontsize" for="exampleFormControlSelect1">Select length of contract</label>
                            <br>
                            <select class="selectpicker show-tick" name="con_length" data-style="btn-info" title="Months" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label class="fontsize" for="exampleFormControlTextarea1">Salary</label>

                            <input type="text" class="form-control col-md-3 col-6" value="" id="salary" placeholder="BDT" readonly>
                            <div class="Salary">
                                <!--  <div class="salary_amount"><strong id=salary></strong></div> -->
                                <input type="hidden" id="sal" name="salary" />
                            </div>

                        </div>
                        <div class="pt-3 text-center">
                            <button style="padding: 10px 40px;" id="checkBtn" type="submit" class="btn btn-primary">Hire</button>
                        </div>
                    </form>
                    @{

                        string[,] WData2 = (string[,])ViewData["workList"];
                        if (s[1].Equals('1'))
                        {
                            <script>
                                    document.getElementById("salary").value = @WData2[0,1];
                                    document.getElementById("sal").setAttribute("value", @WData2[0,1]);
                            </script>

                        }
                        if (s[2].Equals('1'))
                        {
                            <script>
                                    document.getElementById("salary").value = @WData2[1,1];
                                    document.getElementById("sal").setAttribute("value", @WData2[1,1]);
                            </script>

                        }
                        if (s[3].Equals('1'))
                        {
                            <script>
                                    document.getElementById("salary").innerHTML = @WData2[2,1];
                                    document.getElementById("sal").setAttribute("value", @WData2[2,1]);
                            </script>

                        }
                    }


                </div>
            </div>

        </div>


    </div>





    <!--for select-box-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script src="~/Scripts/JS/hire.js"></script>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            //offset: 200,
            duration: 3000,
        });
    </script>
</body>

@{
    Html.RenderPartial("footer");
}
</html>